<!DOCTYPE html>
<html lang="en" style="min-height: 100vh;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SneakyLink</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    {{!-- since some of our scripts are going to be loaded in sort of the middle of the page (just above the footer), i wanted to put the Jquery library script in the head so we guarantee it loads first --}}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.2/dist/jquery.min.js"></script>
</head>

<body class="position-relative" style="min-height: 100vh;">

  {{{body}}}

  {{!-- CONSTANT SCRIPTS --}}
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/js/bold-and-dark.js"></script>
</body>

</html>
