<h1 class='text-center'>Thanks For Visiting SneakyLink!</h1>

<div class='text-center'>
    <img
        src='https://media.istockphoto.com/id/1250688024/vector/hi-or-hello-hand-gesture.jpg?s=612x612&w=0&k=20&c=Af-WCL7-WftWxVY33BSu8ks9O3C7gwwy9HMlRwM11Uo='
        class='rounded max-width:50%'
        alt='https://static.vecteezy.com/system/resources/thumbnails/002/806/386/small/clubhouse-outline-icon-isolated-on-white-background-vector.jpgs'
    />
</div>
{{! <input }}
{{!     id='return' }}
{{!     type='button' }}
{{!     value='click me to return to the landing page' }}
{{! /> }}
{{! <script> }}
{{!     async function home() { await fetch('/', { method: }}
{{!--     'GET',headers:{"Content-type":"application/json" }}); } --}}
{{!     document.querySelector("#return").addEventListener('click', ()=>{ home(); }}
{{!     }); }}

{{! </script> }}
